@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #00C896;
  --color-dark: #0A0A0A;
  --color-accent: #FF5733;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-dark);
}
